<div style="display: flex; justify-content: center; 
position: relative; 
margin-top: 14px;
min-width: 350px;">
    <img src="../../assets/example.png" style="
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;" alt="hero image" />

    <div style="font-size: 5vw; 
    
    line-height: 1; 
    margin-right: 6vw;
    font-family: Ostrich;
    margin-top: 3vw;
    z-index: 10;
    ">
        <div style="width: 50vw; margin-left:11vw">Achieve an effortless relationship with
            food</div>

        <img src="../../assets/booking_chip.png" style="width: 25vw; 
        max-width: 250px; max-height: 250px; height: 25vw; margin-left:4vw" alt="hero image" />
    </div>

</div>