.tab-link {
    margin-right: 28px;
    margin-top: 36px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 24px;
    font-family: 'PlayfairDisplay', 'Regular', sans-serif;

}

.tab-link-small {
    margin-right: 28px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 24px;
    font-family: 'PlayfairDisplay', 'Regular', sans-serif;

}

.center {
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 1.5em;
    /* background-color: #637083; */
    /* background-color: #d7d8dd; */
    /* color: #3f2f2f; */
    color: #000;
    /* background-color: #ca9b81; */
    /* border-bottom: 5px solid black; */
    width: 100%;
}

.iphone-landscape {
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 1.5em;
    /* background-color: #637083; */
    background-color: #d7d8dd;
    border-bottom: 5px solid black;
    width: 100%;
}

.left {
    display: flex;
    justify-content: left;
    height: 100px;
    font-size: 1.5em;
    /* background-color: #637083; */
    background-color: #d7d8dd;
    border-bottom: 5px solid black;
    width: 100%;
}


.iphone-portrait {
    display: flex;
    justify-content: left;
    height: 100px;
    font-size: 1.5em;
    /* background-color: #637083; */
    background-color: #d7d8dd;
    border-bottom: 5px solid black;
    width: 100%;
    padding-left: 20px;
}

a:link {
    /* color: #3f2f2f; */
    color: #000;
    text-decoration: none;

}

a:visited {
    /* color: #3f2f2f; */
    color: #000;
    text-decoration: none;
}

a:hover {
    /* color: #000; */
    /* color: #3f2f2f; */
    color: #d7d8dd;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

.tab-link:hover {
    /* color: #000; */
    color: aliceblue;
}

ul {
    list-style-type: none;
}

.mat-divider {
    border-top-width: 5px;
    width: 50%;
}


.divider-large {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}