.tab-links {
    display: flex;
    justify-content: center;
    height: 64px;
    font-size: 1.5em;
    background-color: #637083;
    border-bottom: 5px solid black;
    width: 100%;
}

.tab-link {
    margin-right: 20px;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    height: 64px;
    font-size: 1.5em;
    background-color: #637083;
    border-bottom: 5px solid black;
    width: 100%;
}

.iphone-landscape {
    display: flex;
    justify-content: center;
    height: 64px;
    font-size: 1.5em;
    background-color: #637083;
    border-bottom: 5px solid black;
    width: 100%;
    padding-left: 20px;
}

.left {
    display: flex;
    justify-content: left;
    height: 64px;
    font-size: 1.5em;
    background-color: #637083;
    border-bottom: 5px solid black;
    width: 100%;
}


.iphone-portrait {
    display: flex;
    justify-content: left;
    height: 64px;
    font-size: 1.5em;
    background-color: #637083;
    border-bottom: 5px solid black;
    width: 100%;
}