<nav class="{{align}}" *ngIf="renderTabs(); else showBurger">
    <div style="display: flex;">
        <a routerLink="/home" ariaCurrentWhenActive="page" class="tab-link" (mouseenter)="over($event, 'home')"
            (mouseleave)="out($event)">HOME
        </a>
        <div routerLink="/schedule-appointment" routerLinkActive="active" ariaCurrentWhenActive="page" class="tab-link">
            SCHEDULE APPOINTMENT
        </div>
        <a class="tab-link">GOD'S GOOD FOODS</a>
        <a class="tab-link" href="https://form.jotform.com/223425903960052">FREE HEALTH ASSESSMENT</a>
    </div>


    <!-- <div><button>FB</button>
        <i class='fab fa-instagram'></i>
        <mat-icon>facebook</mat-icon>
        <button>FBG</button>

    </div> -->
</nav>
<div *ngIf="renderTabs()" class="divider-large">
    <mat-divider></mat-divider>
</div>


<ng-template #showBurger class="{{align}}">


    <div *ngIf="!isActive; else closeButton" style="display: flex;">
        <button (click)="toggle()" style="margin-top:5px; margin-left:5px;">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <div>
            <button>FB</button>
            <mat-icon>Instagram</mat-icon>
            <button>FBG</button>
        </div> -->
    </div>


    <app-popover [isActive]="isActive">
        <ul>
            <li>
                <a routerLink="/home" ariaCurrentWhenActive="page" class="tab-link" (mouseenter)="over($event, 'home')"
                    (mouseleave)="out($event)">HOME
                </a>
            </li>
            <li>
                <a routerLink="/schedule-appointment" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="tab-link">
                    SCHEDULE APPOINTMENT</a>
            </li>
            <li> <a class="tab-link"
                    href="https://squareup.com/appointments/book/tmzaecc59xwg84/LDFP2EPZTCMKV/start">WORK
                    WITH ME</a></li>
            <li> <a class="tab-link" href="">GOD'S GOOD FOODS</a></li>
            <li> <a class="tab-link" href="https://form.jotform.com/223425903960052">FREE HEALTH ASSESSMENT</a></li>
        </ul>
    </app-popover>
</ng-template>

<ng-template #closeButton>
    <button (click)="toggle()">
        <mat-icon>closeButton</mat-icon>
    </button>
</ng-template>