<div class="{{currentBreakpoint}}">
    <div style="margin-top: 48px;">
        <div class="{{textmode}}">EAT.SIMPLE</div>
        <div class="{{textmode}}-sub1">METABOLIC THERAPY + <div class="{{textmode}}-sub1-1">FUNCTIONAL NUTRITION</div>
        </div>
        <div class="{{textmode}}-sub2">SCHEDULE AN APPOINTMENT TODAY</div>
        <div class="{{textmode}}-contact-info">CONTACT@EATSIMPLE.CA | Tel: 888-888-8888</div>


        <div class="{{textmode}}-form">
            <div>
                <input class="{{textmode}}-form-input" placeholder="NAME*" />
            </div>

            <div>
                <input class="{{textmode}}-form-input" placeholder="EMAIL*" />
            </div>
            <textarea class="{{textmode}}-form-text" placeholder="MESSAGE*"></textarea>

        </div>
    </div>
</div>