<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
    <div style="margin-top: 30px;">
        <div style="font-size: 8em; margin-bottom: 50px;">EAT.SIMPLE</div>
        <div style="font-size: 1.9em; margin-bottom: 30px;">METABOLIC THERAPY + FUNCTIONAL NUTRITION</div>
        <div style="font-size: 2em; margin-left: 64px">SCHEDULE AN APPOINTMENT TODAY</div>
        <div style="margin-left: 144px; margin-top: 12px;">CONTACT@EATSIMPLE.CA | Tel: 888-888-8888</div>


        <div style="margin-left: 64px;">
            <div>
                <input style="width: 498px; 
                margin-top: 20px; 
                height: 40px; 
                font-size: xx-large;" placeholder="NAME*" />
            </div>

            <div>
                <input style="width: 498px; 
                margin-top: 20px; 
                height: 40px; 
                font-size: xx-large;" placeholder="EMAIL*" />
            </div>
            <textarea style="width: 498px; 
            margin-top: 20px; 
            height: 200px; 
            font-size: xx-large;" placeholder="MESSAGE*"></textarea>

        </div>
    </div>
</div>