<div class="hero-image">
    <div class="{{align}}">
        <div>
            <div class="{{textmode}}">CONTACT DANA</div>
            <div class="{{textmode}}-sub2">DANAMICHELLEWELLNESSCOACHING@GMAIL.COM</div>
            <div class="{{textmode}}-contact-info">Tel: (520)-271-6902</div>


            <div class="{{textmode}}-form">
                <div>
                    <input class="{{textmode}}-form-input" placeholder="NAME*" />
                </div>

                <div>
                    <input class="{{textmode}}-form-input" placeholder="EMAIL*" />
                </div>
                <textarea class="{{textmode}}-form-text" placeholder="MESSAGE*"></textarea>

            </div>
        </div>
    </div>
</div>