<!-- this is the home page. Not to be confused with the hero component. -->

<div style="width:100%; display: flex; justify-content: center; margin-top: 20px;">
    <div class="hero-image-{{textmode}}"></div>
</div>

<div class="offerings-box-{{textmode}}">


    <div class="offerings-{{textmode}}">TESTIMONIALS</div>
    <div class="offerings-{{textmode}}">FREE HEALTH ASSESSMENT</div>
    <div class="offerings-{{textmode}}">WORK OUT WITH ME</div>

</div>

<div *ngIf="renderTabs()"
    style="width:100%; display: flex; justify-content:center; margin-top: 100px; margin-bottom: 60px">
    <mat-divider [inset]="true"></mat-divider>
</div>

<div *ngIf="!renderTabs()" class="divider-small">
    <mat-divider></mat-divider>
</div>
<!--end divider-->
<!-- bio -->

<div class="image-content-{{textmode}}">
    <app-mobile-pop-over [isActive]="showBio">
        <div style="display: flex; justify-content: end; margin: 5px;">
            <div><button (click)="displayBio()">X</button></div>
        </div>
        <div class="bio-popover">
            <div *ngIf="!isTextSmall(textmode)">
                <div *ngFor="let paragraph of this.dana.paragraphs">
                    <p class={{paragraph.style}}>{{paragraph.text}}</p>
                </div>
            </div>
        </div>
    </app-mobile-pop-over>
    <div class="bio-text-box-{{textmode}}">
        <div *ngIf="!isTextSmall(textmode)">
            <div *ngFor="let paragraph of this.dana.paragraphs">
                <p class={{paragraph.style}}>{{paragraph.text}}</p>
            </div>
        </div>

        <div *ngIf="isTextSmall(textmode)">
            <button (click)="displayBio()" style="color: black;"><b>... continued</b></button>
        </div>
    </div>
    <div class="bio-image-{{textmode}}"></div>
</div>


<div *ngIf="renderTabs()"
    style="width:100%; display: flex; justify-content:center; margin-top: 100px; margin-bottom: 60px">
    <mat-divider [inset]="true"></mat-divider>
</div>

<div *ngIf="!renderTabs()" class="divider-small">
    <mat-divider></mat-divider>
</div>

<div class="offerings-box-{{textmode}}">
    <div class="scripture-break-{{textmode}}">“Do you not know that your bodies are temples of the Holy Spirit, who is
        in you, whom you have received from God?
        You are not your own; you were bought at a price. Therefore, honor God with your bodies.”
        <p>- 1 Corinthians 6:19-20</p>
    </div>
</div>


<div *ngIf="renderTabs()"
    style="width:100%; display: flex; justify-content:center; margin-top: 100px; margin-bottom: 60px">
    <mat-divider [inset]="true"></mat-divider>
</div>

<div *ngIf="!renderTabs()" class="divider-small">
    <mat-divider></mat-divider>
</div>
<!-- testamonials -->
<div class="image-content-{{textmode}}">

    <!-- popover -->
    <app-mobile-pop-over [isActive]="showTestamonial">
        <div style="display: flex; justify-content: end; margin: 5px;">
            <div><button (click)="displayTestimonial()">X</button></div>
        </div>
        <div class="bio-popover">
            <div><b>Her Story...</b></div>
            <div *ngIf="!isTextSmall(textmode)">
                <div *ngFor="let paragraph of this.jennifer.paragraphs">
                    <p class={{paragraph.style}}>{{paragraph.text}}</p>
                </div>
            </div>
        </div>
    </app-mobile-pop-over>
    <!-- end popover -->
    <div class="jf-before-image-{{textmode}}"></div>
    <div class="jf-after-image-{{textmode}}"></div>

    <div class="testamonial-text-box-{{textmode}}">
        <div class="hero-title-{{textmode}}">Jennifer</div>
        <div><b>Her Story...</b></div>
        <p class="blog-p">I started this process as an exhausted mom of three. I tried to eat right and
            do all the healthy things but needed a nap daily(not that I actually got one, lol) to the point I would fall
            asleep driving or reading to the kids. </p>

        <div *ngIf="isTextSmall(textmode)">
            <button (click)="displayTestimonial()" style="color: black;"><b>... continued</b></button>
        </div>
        <div *ngIf="!isTextSmall(textmode)">
            <div *ngIf="!isTextSmall(textmode)">
                <!-- *ngFor="let item of items | slice:1; let i = index; -->
                <div *ngFor="let paragraph of this.jennifer.paragraphs | slice:1; let i = index">
                    <p class={{this.jennifer.paragraphs[i].style}}>{{this.jennifer.paragraphs[i].text}}</p>
                </div>
            </div>

        </div>

    </div>

</div>