<!-- this is the home page. Not to be confused with the hero component. -->

<!-- <div class="image-container-{{textmode}}">
    <div class="banner-text-{{textmode}}">"Gain a healthy mindset"</div>
    <div class="hero-image-{{textmode}}">
        <div class="scripture-text-{{textmode}}">"You shall serve the Lord your God, and he will bless your bread and
            your water, and
            I will take sickness away from among you."</div>
    </div>
</div> -->
<div class="banner-text-{{textmode}}">Gain A Healthy Mindset</div>

<!-- dansas philasophy  -->
<div class="image-content-{{textmode}}">
    <div class="new-hero-image-{{textmode}}"></div>

    <div class="bio-text-box-{{textmode}}">
        <div class="hero-title-{{textmode}}">Danas Philosophy</div>
        <p class="bio-text-{{textmode}}">Here is some bio information about dana. It should
            take
            up a few
            paragraphs. She
            likes health and fitness, and
            is a nice lady. She has a husband and three children and a dog named moose.</p>
    </div>

</div>


<div class="offerings-box-{{textmode}}">
    <div class="offerings-{{textmode}}">TESTIMONIALS</div>
    <div class="offerings-{{textmode}}">FREE HEALTH ASSESSMENT</div>
    <div class="offerings-{{textmode}}">PERSONAL FITTNESS</div>
</div>

<!-- bio -->

<div class="image-content-{{textmode}}">
    <div class="bio-text-box-{{textmode}}">
        <div class="hero-title-{{textmode}}">About Dana</div>
        <p class="bio-text-{{textmode}}">Here is some bio information about dana. It should
            take
            up a few
            paragraphs. She
            likes health and fitness, and
            is a nice lady. She has a husband and three children and a dog named moose.</p>
    </div>
    <div class="bio-image-{{textmode}}"></div>
</div>


<!-- testamonials -->
<div class="image-content-{{textmode}}">
    <div class="jf-before-image-{{textmode}}"></div>
    <div class="jf-after-image-{{textmode}}"></div>

    <div class="bio-text-box-{{textmode}}">
        <div class="hero-title-{{textmode}}">Jennifer Falgrens estimonial</div>
        <p class="bio-text-{{textmode}}">I started this process as an exhausted mom of three. I tried to eat right and
            do all the healthy things but needed a nap daily(not that I actually got one, lol) to the point I would fall
            asleep driving or reading to the kids. I was gaining weight even with my efforts! Like a couple pounds every
            month gaining weight. My PCOS and hormones were out of control. I had lost weight before but my methods
            weren't working.</p>

        <p class="bio-text-{{textmode}}">By week 2 with this program I had more energy and felt better.</p>
        <p class="bio-text-{{textmode}}">I didn't take supplements, and I was never hungry. The biggest thing was
            deciding to take care of myself.
            And then learning how God intended me to do that. I don't have time with my 3 littles to do things by myself
            often, but my little family can take a walk or make soup. I did planks and push ups while homeschooling.
            Reading lessons in line, and the audio book while driving kids to the doctor. Honestly, I couldn't safely
            continue how I was living before I started Dana's program. And I figured I can do anything I need to for a
            short period of time while learning.</p>

        <p class="bio-text-{{textmode}}">Dana and this program made it easy. Step by step and day by day I learned a
            little bit. The more I made
            these choices, the more time and energy I had. Now I can run and play with my kids!! Since meals are planned
            in advance we have time for board games. My kids are learning what kinds of foods God made for us and
            changing their lives as well.</p>

        <p class="bio-text-{{textmode}}">God sent Dana to me! Dana offered so much support. She uses scientific studies,
            down to earth explanations,
            and Bible verses to inform and support you in being the best you can be. I ended my program climbing uphill
            1.3 miles to a waterfall while wearing my 2.5 yr old daughter! Never getting tired or out of breath. All I
            could think about was that not only can I make it through my day without falling asleep, but I now have the
            energy to play and enjoy my family!! I can't wait to see how this program continues to improve my life and
            journey over the next couple years.</p>

    </div>

</div>